<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static.css">
</head>
<body>
<form action="#" th:action="@{/}"  method="get" >
    <input type="submit" value="Reload page">
</form>
    <button onclick="show()">Add/Update Student</button>



<form action="#" th:action="@{/}" th:object="${student}" method="post" id="addOrUpdateForm" >
    <div id="mydiv">
        <span class="close">&times;</span>
        <div id="mydivheader">Click here to move</div>
    <p>Add Or Update Student</p>

    <div >
        <label>Id </label>
        <input type="text"  th:field="*{Id}" placeholder="Enter Id in case of update">
    </div>
    <div >
        <label for="firstName">firstName</label>
        <input type="text"  th:field="*{firstName}" id="firstName" >
    </div>
    <div >
        <label for="lastName">lastName</label>
        <input type="text" th:field="*{lastName}"  id="lastName" >
    </div>
    <div >
    <label for="age">age</label>
    <input type="text" th:field="*{age}" id="age" >
    </div>
    <div >
        <label for="dateOfBirth">dateOfBirth</label>
        <input type="date" th:field="*{dateOfBirth}"  id="dateOfBirth" >
    </div>

    <div >
        <label for="faculty">faculty</label>
        <input type="text" th:field="*{faculty}" id="faculty" >

    </div>


            <button type="submit" value="AddOrUpdate Student">AddOrUpdate Student</button>

    </div>

</form>



<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>age</th>
        <th>dateOfBirth</th>
        <th>faculty</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}" >

        <td th:text="${student.Id}">Id</td>
        <td th:text="${student.firstName}">firstName</td>
        <td th:text="${student.lastName}">lastName</td>
        <td th:text="${student.age}">age</td>
        <td th:text="${student.dateOfBirth}">dateOfBirth</td>
        <td th:text="${student.faculty}">faculty</td>
<td><a th:href="@{/delete(studentId=${student.Id})}" class="btn btn-danger">Delete</a></td>
    </tr>


    </tbody>
</table>

<form action="#" th:action="@{/import}" method="post" enctype="multipart/form-data">

    <input type="file" th:name="file">

    <input th:type="submit" value="Import" />
</form>


<form action="#"  th:action="@{/export}" method="get" >
    <input th:type="submit" value="Export File" />
</form>


<script>
document.getElementById("addOrUpdateForm").style.display="none";
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  addOrUpdateForm.style.display = "none";
}

function show(){
document.getElementById("addOrUpdateForm").style.display="block"

}
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}


</script>

</body>

</html>