<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static.css">
</head>
<body>
<form action="#" th:action="@{/}"  method="get" >
    <input type="submit" value="Reload page">
</form>

<form action="#" th:action="@{/}" th:object="${student}" method="post" class="addStudent">
    <label for="firstName">firstName</label>
    <div>
    <input type="text"  th:field="*{firstName}" id="firstName" >
    </div>
    <label for="lastName">lastName</label>
    <div>
    <input type="text" th:field="*{lastName}"  id="lastName" >
    </div>
    <label for="age">age</label>
    <div>
    <input type="text" th:field="*{age}" id="age" >
    </div>
    <label for="dateOfBirth">dateOfBirth</label>

    <div>
    <input type="date" th:field="*{dateOfBirth}"  id="dateOfBirth" >
    </div>

    <label for="faculty">faculty</label>
    <div>
    <input type="text" th:field="*{faculty}" id="faculty" >
    </div>
    <input type="submit" value="Add Student">
</form>



<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>age</th>
        <th>dateOfBirth</th>
        <th>faculty</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">

        <td th:text="${student.Id}">Id</td>
        <td th:text="${student.firstName}">firstName</td>
        <td th:text="${student.lastName}">lastName</td>
        <td th:text="${student.age}">age</td>
        <td th:text="${student.dateOfBirth}">dateOfBirth</td>
        <td th:text="${student.faculty}">faculty</td>
<td><a th:href="@{/delete(studentId=${student.Id})}" class="btn btn-danger">Delete</a></td>
    </tr>


    </tbody>
</table>

<form action="#" th:action="@{/import}" method="post" enctype="multipart/form-data">

    <input type="file" th:name="file">

    <input th:type="submit" value="Import" />
</form>


<form action="#"  th:action="@{/export}" method="get" >



    <input th:type="submit" value="Export File" />
</form>




</body>

</html>